In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Importing the train dataset
df_train = pd.read_csv("./properties_colombia_train.csv")

In [ ]:
# Expand all dataset columns
pd.set_option('display.max_columns', None)

# Expand the whole float numbers and leave them all with 2 decimals
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
df_train.shape

## Henry's requirement
Priorly, add the 'target' column from the 'price' feature <br>
Null values will be replaced by its mean value<br>
Then, set it up

In [ ]:
# Setting up categories values as 'expensive' and 'cheap' under the following statement rules
price_avg = df_train['price'].mean()
df_train['target'] = ['expensive' if price >= price_avg else 'cheap' for price in df_train['price']]

In [ ]:
# Checking dataset after adding the target column
df_train.shape

In [ ]:
#Switchig to numerical values in the recent column added
df_train['target'] = (df_train['target']== 'expensive').astype(int)

In [ ]:
# Check and count 'target' column values 
df_train.target.value_counts()

Drop 'price' column

In [ ]:
#Drop the 'price' column from df_train dataset
df_train= df_train.drop(columns='price')

In [ ]:
# Check column names
df_train.columns